.header {
  background-color: #7036ba;
  padding-top: 25px;
  font-family: "Raleway", sans-serif;
}

.divHeaderPrincipal {
  padding-left: 18px;
}

.logoWeb {
  max-width: 30px;
  width: 30px;
  max-height: 30px;
  height: 30px;
}

.nombreWeb {
  color: white;
}

.nombreWebSpan {
  font-weight: bold;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.tituloWeb {
  max-width: 85%;
  color: white;
  text-align: center;
  font-size: 40px;
}

.textoHeader {
  color: white;
  font-size: 24px;
  max-width: 91%;
}

.imagenHeader {
  width: 100%;
  padding-left: 0px;
  max-height: 400px;
}

.botonHeader {
  background-color: #00bfb4;
  width: 261px;
  height: 65px;
  border-radius: 50px;
  position: relative;
  top: 30px;
}
